body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#emoteSetID, #searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    position: relative;
    z-index: 10;
}

#loadEmotes {
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}

#previewArea, #selectedEmotes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
    padding-top: 20px;
    position: relative;
    z-index: 5;
}

#previewArea {
    margin-bottom: 20px;
}

.emote {
    margin: 5px;
    cursor: pointer;
}

.selected-emote {
    margin: 5px;
    display: block;
    cursor: pointer;
}

.emote-container {
    position: relative; /* Necesario para la superposición de Zero-Width emotes */
    display: inline-block;
}

.zero-width-emote {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Asegura que se superponga correctamente */
    pointer-events: none; /* Permite que se clickee el emote de atrás */
    opacity: 0.9; /* Controla la visibilidad si es necesario */
}

h3 {
    font-size: 1em;
}